---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
  A jeżeli nie chcesz przegapić następnych postów oraz konkursów to zapisz się na listę dotnetomaniaka:
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%; border: black 1px solid;margin-bottom: 20px;}

</style>
<div id="mc_embed_signup">
<form action="https://space.us12.list-manage.com/subscribe/post?u=41e9c22eaffd315a81e011e75&amp;id=1b2dcb14fd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL"><label for="mce-EMAIL">Nie przegap kolejnych postów!</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_41e9c22eaffd315a81e011e75_1b2dcb14fd" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Zapisz się!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    <div class="" style="
    font-size: 12px;
    font-weight: normal;
">Tym samym wyrażasz zgodę na otrzymanie informacji marketingowych z dotnetomaniak.pl (sorry ... )</div>
    </label></div>
</form>
</div>
<!--End mc_embed_signup-->
  <div id="fb-root"></div>
  <script async defer src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v3.2&appId=689933027721704&autoLogAppEvents=1"></script>
  <div class="fb-like" data-href="{{ page.url }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
  <div class="date">
    <span>Napisano {{ page.date | date: "%Y-%m-%d" }}</span>
    <div>
      <ul class="share-buttons">
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}&quote={{ page.title }}" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="/images/flat_web_icon_set/black/Facebook.png" /></a></li>
        <li><a href="https://twitter.com/intent/tweet?source={{ page.url | absolute_url}}&text={{ page.title }}:%20{{ page.url | absolute_url}}&via=dotnetomaniak" target="_blank" title="Tweet"><img alt="Tweet" src="/images/flat_web_icon_set/black/Twitter.png" /></a></li>
        <li><a href="https://plus.google.com/share?url={{ page.url | absolute_url}}" target="_blank" title="Share on Google+"><img alt="Share on Google+" src="/images/flat_web_icon_set/black/Google+.png" /></a></li>
        <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url}}&title={{ page.title }}&summary=Description&source={{ page.url | absolute_url}}" target="_blank" title="Share on LinkedIn"><img alt="Share on LinkedIn" src="/images/flat_web_icon_set/black/LinkedIn.png" /></a></li>
        <li><a href="mailto:?subject=Title&body=Description:%20{{ page.url | absolute_url}}" target="_blank" title="Send email"><img alt="Send email" src="/images/flat_web_icon_set/black/Email.png" /></a></li>
      </ul>
    </div>
  </div>
  {% include disqus.html %}
</article>
